#**Python Data Structures**

## **Tuple**

In [1]:
# A tuple is a one dimensional, fixed-length, immutable sequence.

tup = (0, 1, 3, 6, 9)
tup

(0, 1, 3, 6, 9)

In [2]:
# Convert a 'list' to a 'tuple'

list1 = [1, 2, 3, 5, 8, 9]

print(list1)
type(tuple(list1))

[1, 2, 3, 5, 8, 9]

tuple

In [3]:
# Nested Tuple

nested_tup = ([1, 2, 3], (4, 5))
nested_tup

([1, 2, 3], (4, 5))

In [4]:
# Access a tuple's elements by index O(1)

nested_tup[0]

[1, 2, 3]

In [5]:
# Modify a tuple's contents

nested_tup[0].append("x")
nested_tup[0].append(4)
nested_tup[0]

[1, 2, 3, 'x', 4]

In [6]:
# Concatenate tuples by creating a new tuple and copying objects

(1, 3, 2) + (4, 5, 6)

(1, 3, 2, 4, 5, 6)

In [7]:
#Multiply tuples to copy references to objects

('hey', 'ho') * 2

('hey', 'ho', 'hey', 'ho')

In [8]:
# Unpack tuples
a, b = nested_tup
a, b

([1, 2, 3, 'x', 4], (4, 5))

In [9]:
# Unpack nested tuples

(a, b, c, d, e), (e, f) = nested_tup
a, b, c, d, e, f

(1, 2, 3, 'x', 4, 5)

In [10]:
# Loop over tuples 

seq = [( 1, 2, 3), (4, 5, 6), (7, 8, 9)] 
for a, b, c in seq: 
    print(a, b, c)

1 2 3
4 5 6
7 8 9

## **List**

In [11]:
# A list is a one dimensional, variable-length, mutable sequence.

list1 = [1, 2, 3]
list1

[1, 2, 3]

In [12]:
# Convert a tuple to a list

tup = (0, 1, 3, 6, 9)
type(tup)
'''
type(list = list(tup))'''

'\ntype(list = list(tup))'

In [13]:
# Nested List

nested_list = [(1, 2, 3), [4, 5]]
nested_list

[(1, 2, 3), [4, 5]]

In [14]:
#Access a list's elements by index O(1)

nested_list[0]

(1, 2, 3)

In [15]:
#Append an element to a list O(1)

nested_list.append(6)
nested_list

[(1, 2, 3), [4, 5], 6]

In [16]:
# Insert an element to a list at a specific index O(n)

nested_list.insert(0, 'start')
nested_list

['start', (1, 2, 3), [4, 5], 6]

In [17]:
# Pop is expensive as it has to shift subsequent elements O(n). The operation is O(1) if pop is used for the last element

nested_list.pop(0)
nested_list

[(1, 2, 3), [4, 5], 6]

In [18]:
# Remove a value on the list O(n)

nested_list.remove((1, 2, 3))
nested_list

[[4, 5], 6]

In [19]:
# Check if a list contains a value O(n)

5 in nested_list

False

In [20]:
#Concatenate lists by creating a new list and copying objects

[1, 3, 2] + [4, 5, 6]

[1, 3, 2, 4, 5, 6]

In [21]:
# Extend a list by appending elements 

nested_list.extend([7, 8, 9])
nested_list

[[4, 5], 6, 7, 8, 9]

## **Dict**

In [22]:
# A dict is also known as a hash map or associative array. A dict is a mutable collection of key-value pairs

dict_1 = { 'a' : 'foo', 'b' : [0, 1, 2, 3] }
dict_1

{'a': 'foo', 'b': [0, 1, 2, 3]}

In [23]:
# Access a dict's elements by index O(1)

dict_1['b']

[0, 1, 2, 3]

In [24]:
# Insert or set a dict's elements by index O(1)

dict_1[5] = 'bar'
dict_1

{5: 'bar', 'a': 'foo', 'b': [0, 1, 2, 3]}

In [25]:
# Check if a dict contains a key O(1)

5 in dict_1

True

In [26]:
# Delete a value O(1)

dict_2 = dict(dict_1)
del dict_2[5]
dict_2

{'a': 'foo', 'b': [0, 1, 2, 3]}

In [27]:
# Remove and return an element from a specified index O(1)

value = dict_2.pop('b')
print(value)
print(dict_2)

[0, 1, 2, 3]
{'a': 'foo'}

In [28]:
# Get or pop can be called with a default value if the key is not found

value = dict_1.get('z', 0)
value

0

In [29]:
# Return a default value if the key is not found

print(dict_1.setdefault('z', None))

None

In [ ]:
# Defaultdict lets you specify the default when the container is initialized

from collections import defaultdict

seq = ['foo', 'bar', 'baz']
first_letter = defaultdict(list)
for elem in seq:
    first_letter[elem[0]].append(elem)
first_letter

In [30]:
# Hash a dict key

print(hash('Hello'))
print(hash((1, 2, (3, 4))))

4179728981343304272
-2725224101759650258

In [31]:
# Get the list of keys in no particular order

dict_1.keys()

dict_keys(['a', 'b', 5, 'z'])

In [32]:
# Get the list of values in no particular order

dict_1.values()

dict_values(['foo', [0, 1, 2, 3], 'bar', None])

In [33]:
# Iterate through a dictionary's keys and values

for i, v in dict_1.items():
    print (i, v)

a foo
b [0, 1, 2, 3]
5 bar
z None

In [34]:
# Merge one dict into another

dict_1.update({'e' : 'elephant', 'f' : 'fish'})
dict_1

{5: 'bar',
 'a': 'foo',
 'b': [0, 1, 2, 3],
 'e': 'elephant',
 'f': 'fish',
 'z': None}

In [35]:
# Pair up two sequences element-wise in a dict:

mapping = dict(zip(range(7), reversed(range(7))))
mapping

{0: 6, 1: 5, 2: 4, 3: 3, 4: 2, 5: 1, 6: 0}

## **Set**

In [36]:
# A set is an unordered sequence of unique elements.

set_1 = set([0, 1, 2, 3, 4, 5])
set_1

{0, 1, 2, 3, 4, 5}

In [37]:
set_2 = {1, 2, 3, 5, 10, 6}
set_2

{1, 2, 3, 5, 6, 10}

In [38]:
# Union O(len(set_1) + len(set_2))

set_1 | set_2

{0, 1, 2, 3, 4, 5, 6, 10}

In [39]:
# Intersection O(min(len(set_1), len(set_2))

set_1 & set_2

{1, 2, 3, 5}

In [40]:
# Difference O(len(set_1))

'''set_1 - set_2'''
set_2 - set_1

{6, 10}

In [41]:
# Symmetric Difference O(len(set_1))

set_1 ^ set_2

{0, 4, 6, 10}

In [42]:
# Subset O(len(set_3))

set_3 = {1, 2, 3}
set_3.issubset(set_2)

True

In [43]:
# Superset O(len(set_3))

set_2.issuperset(set_3)

True

In [44]:
# Equal O(min(len(set_1), len(set_2))

{1, 2, 3} == {2, 3, 1}

True

# **Data Structure Utilities**

## **Slice**

 Slice selects a section of list types (arrays, tuples, NumPy arrays) with its arguments [start:end]:  
 start is included, end is not. The number of elements in the result is stop - end.

In [47]:
# Slice elements starting at index 3 and ending at index 10

seq = 'Hello There'
seq[3:10]

'lo Ther'

In [50]:
# Omit start to default to start of the sequence

seq[:5]

'Hello'

In [51]:
# Omit end to default to end of the sequence

seq[6:]

'There'

In [53]:
# Negative indices slice relative to the end

seq[-10:-7]

'ell'

Slice can also take a step [start:end:step].  

Get every other element

In [54]:
seq[::2]

'HloTee'

In [55]:
# Passing -1 for the step reverses the list or tuple

seq[::-1]

'erehT olleH'

In [56]:
# Assign elements to a slice

seq = [1, 1, 2, 3, 5, 8, 13]
seq[5:] = ['H', 'a', 'l', 'l']
seq

[1, 1, 2, 3, 5, 'H', 'a', 'l', 'l']

## **Bisect**

In [57]:
# The bisect module does not check whether the list is sorted, as this check would be expensive O(n)

import bisect

# Find the location where an element should be inserted to keep the list sorted

seq = [1, 2, 2, 3, 5, 13]
bisect.bisect(seq, 8)

5

In [58]:
#Insert an element into a location to keep the list sorted

bisect.insort(seq, 8)
seq

[1, 2, 2, 3, 5, 8, 13]

## **Sort**

In [59]:
# Sort in-place O(n log n)

seq = [1, 5, 3, 9, 7, 6]
seq.sort()
seq

[1, 3, 5, 6, 7, 9]

In [60]:
# Sort by the secondary key of str length

seq = ['the', 'quick', 'brown', 'fox', 'jumps', 'over']
seq.sort(key=len)
seq

['the', 'fox', 'over', 'quick', 'brown', 'jumps']

## **Sorted**

In [61]:
# Return a new sorted list from the elements of a sequence O(n log n)

sorted([2, 5, 1, 8, 7, 9])

[1, 2, 5, 7, 8, 9]

In [63]:
sorted('hey ho lets go')

[' ', ' ', ' ', 'e', 'e', 'g', 'h', 'h', 'l', 'o', 'o', 's', 't', 'y']

In [ ]:
seq = [2, 5, 1, 8, 7, 9, 9, 2, 5, 1, (4, 2), (1, 2), (1, 2)]
sorted(set(seq))

## **Reversed**

In [65]:
# Iterate over the sequence elements in reverse order

list(reversed(seq))

[(1, 2), (1, 2), (4, 2), 1, 5, 2, 9, 9, 7, 8, 1, 5, 2]

## **Enumerate**

In [69]:
# Get the index of a collection and the value

strings = ['foo', 'bar', 'baz']
for i, string in enumerate(strings):
    print(i, string)

0 foo
1 bar
2 baz

## **Zip**

In [71]:
# Pair up the elements of sequences to create a list of tuples

seq_1 = [1, 2, 3]
seq_2 = ['foo', 'bar', 'baz']
zip(seq_1, seq_2)

In [70]:
# Zip for simultaneously iterating over multiple sequences combined with enumerate

for i, (a, b) in enumerate(zip(seq_1, seq_2)):
    print('%d: %s, %s' % (i, a, b))

0: 1, foo
1: 2, bar
2: 3, baz

In [68]:
# Unzip a zipped sequence

numbers = [(1, 'one'), (2, 'two'), (3, 'three')]
a, b = zip(*numbers)
a

(1, 2, 3)

## **List Comprehensions**

In [72]:
# List comprehensions concisely form a new list by filtering the elements of a sequence and transforming the elements passing the filter

strings = ['foo', 'bar', 'baz', 'f', 'fo', 'b', 'ba']
[x.upper() for x in strings if x[0] == 'b']

['BAR', 'BAZ', 'B', 'BA']

In [73]:
# Nested List of comprehensions

list_of_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
[x for tup in list_of_tuples for x in tup]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## **Dict Comprehension**

In [74]:
{index : val for index, val in enumerate(strings) if val[0] == 'b'}

{1: 'bar', 2: 'baz', 5: 'b', 6: 'ba'}

## **Set Comprehension**

In [75]:
{len(x) for x in strings if x[0] == 'b'}

{1, 2, 3}